<div class="portfolio">
    <h2>My Open Source Work</h2>

    <div class="row">

      <div class="col-xs-12 col-md-3 col-md-offset-1">
         <%= link_to "https://who-cooks.herokuapp.com/", target: :_blank do %>
          <%= image_tag 'who-cooks.png', class: "project-photos"%>
        <% end %>

        <div class="project-info">
          <p>Who-Cooks: An open source project using edamam API to help a user plan meals with other users, search for and then save recipes to the group calendar</p>
        </div>

        <%= link_to "https://github.com/ahogue1/who-cooks", class: "repo-links btn btn-primary", target: :_blank do %>
          <p>Visit Repo</p>
          <i class="devicon-github-plain git-icon"></i>
        <% end %>
      </div>

      <div class="col-xs-12 col-md-3">
        <%= link_to "https://www.lealo.io/",  target: :_blank do %>
           <%= image_tag 'lealo.png', class: "project-photos"%>
        <% end %>
        <div class="project-info">
          <p>Lealo: The Bootcamp Final Project, a marketplace platform for teachers to post lessons and students to book classes</p>
        </div>

        <%= link_to "https://github.com/mbrien12/lealo", class: "repo-links btn btn-primary",  target: :_blank do %>
          <p>Visit Repo</p>
          <i class="devicon-github-plain git-icon"></i>
          <% end %>
      </div>

       <div class="col-xs-12 col-md-3">
        <%= link_to "https://www.lealo.io/",  target: :_blank do %>
           <%= image_tag 'new-thought.png', class: "project-photos"%>
        <% end %>

        <div class="project-info">
          <p>New Thought Northern Colorado: a Ruby on Rails project using Breeze church management, Blogger API, Stripe for payments, Rails Admin Gem. This was a redesign. <%= link_to "(Here's the original)", "https://web.archive.org/web/20180809023600/http://www.newthoughtnoco.org", target: :_blank %> </p>
        </div>

        <%= link_to "https://github.com/ahogue1/new-thought-no-co", class: "repo-links btn btn-primary",  target: :_blank do %>
          <p>Visit Repo</p>
          <i class="devicon-github-plain git-icon"></i>
          <% end %>
      </div>
    </div>

    <div class="row">

      <div class="col-xs-12 col-md-3 col-md-offset-1">
        <%= link_to "https://www.lealo.io/",  target: :_blank do %>
           <%= image_tag 'chef-mate.png', class: "project-photos"%>
        <% end %>
        <div class="project-info">
          <p>Chef-Mate: An open source project for home chefs to join in the sharing economy and local eaters to get a homecooked meal. </p>
        </div>

        <%= link_to "https://github.com/ahogue1/chef-mate", class: "repo-links btn btn-primary", target: :_blank do %>
          <p>Visit Repo</p>
          <i class="devicon-github-plain git-icon"></i>
        <% end %>
      </div>

      <div class="col-xs-12 col-md-3">
        <%= link_to "http://www.denver-pools.com/",  target: :_blank do %>
          <%= image_tag 'denver-pools.png', class: "project-photos"%>
        <% end %>

        <div class="project-info">
          <p>Denver-Pools: Open source, custom-built, Rails website for a client</p>
        </div>

          <%= link_to "https://github.com/ahogue1/denver-pool", class: "repo-links btn btn-primary",  target: :_blank do %>
            <p>Visit Repo</p>
            <i class="devicon-github-plain git-icon"></i>
          <% end %>
      </div>

       <div class="col-xs-12 col-md-3">

        <div class="project-info my-repo">
          <p>Right now I'm freelancing and contracting with a Mexico City-based company. Check out my <%= link_to "Github", "https://github.com/ahogue1", target: :blank %> to see what I'm working on. Or you can <a href="mailto:hogue.a@gmail.com" class="links">always ask me</a></p>
        </div>

      </div>

    </div>
  </div>
