<div class="portfolio">
    <h2>Sample Work</h2>

    <div class="row">

      <div class="col-xs-13 col-md-4 col-lg-3 col-lg-offset-2">
         <%= link_to "https://who-cooks.herokuapp.com/", target: :_blank do %>
          <%= image_tag 'who-cooks.png', class: "project-photos"%>
        <% end %>

        <div class="project-info">
          <h3>Meal Train </h3>
          <p> Simplifies meal trains. Connect with friends, save your recipes, see a calendar of planned meals. </p>
        </div>

        <%= link_to "https://github.com/ahogue1/who-cooks", class: "repo-links btn btn-primary", target: :_blank do %>
          <p>Visit Repo</p>
          <i class="devicon-github-plain git-icon"></i>
        <% end %>
      </div>

      <div class="col-xs-13 col-md-4 col-lg-3">
        <%= link_to "https://www.lealo.io/",  target: :_blank do %>
           <%= image_tag 'lealo.png', class: "project-photos"%>
        <% end %>
        <div class="project-info">
          <h3>Find a Local Tutor</h3>
          <p>A marketplace platform for teachers to post lessons and students to book classes Uber style: quick and easy.</p>
        </div>

        <%= link_to "https://github.com/mbrien12/lealo", class: "repo-links btn btn-primary",  target: :_blank do %>
          <p>Visit Repo</p>
          <i class="devicon-github-plain git-icon"></i>
          <% end %>
      </div>

       <div class="col-xs-13 col-md-4 col-lg-3">
        <%= link_to "https://new-thought-no-co.herokuapp.com/",  target: :_blank do %>
           <%= image_tag 'new-thought.png', class: "project-photos"%>
        <% end %>

        <div class="project-info">
          <h3>New Thought</h3>
          <p> A complete overhaul of this Colorado church's webiste <%= link_to "(Here's the original)", "https://web.archive.org/web/20180809023600/http://www.newthoughtnoco.org", target: :_blank %> </p>
        </div>

        <%= link_to "https://github.com/ahogue1/new-thought-no-co", class: "repo-links btn btn-primary",  target: :_blank do %>
          <p>Visit Repo</p>
          <i class="devicon-github-plain git-icon"></i>
          <% end %>
      </div>
    </div>

    <div class="row">

      <div class="col-xs-13 col-md-4 col-lg-3 col-lg-offset-2">
        <%= link_to "https://www.lealo.io/",  target: :_blank do %>
           <%= image_tag 'chef-mate.png', class: "project-photos"%>
        <% end %>
        <div class="project-info">
          <h3>Book a Chef</h3>
          <p> Amateur and home chefs host meal experiences; eaters book a gormet homecooked meal </p>
        </div>

        <%= link_to "https://github.com/ahogue1/chef-mate", class: "repo-links btn btn-primary", target: :_blank do %>
          <p>Visit Repo</p>
          <i class="devicon-github-plain git-icon"></i>
        <% end %>
      </div>

      <div class="col-xs-13 col-md-4 col-lg-3">
        <%= link_to "http://www.denver-pools.com/",  target: :_blank do %>
          <%= image_tag 'denver-pools.png', class: "project-photos"%>
        <% end %>

        <div class="project-info">
          <h3>Denver Pools</h3>
          <p>Denver's best pool cleaning and maintence service</p>
        </div>

          <%= link_to "https://github.com/ahogue1/denver-pool", class: "repo-links btn btn-primary",  target: :_blank do %>
            <p>Visit Repo</p>
            <i class="devicon-github-plain git-icon"></i>
          <% end %>
      </div>

       <div class="col-xs-13 col-md-4 col-lg-3">

        <div class="project-info my-repo">
          <p>Currently, I'm freelancing and contracting with a Mexico City-based start up. Check out my <%= link_to "Github", "https://github.com/ahogue1", target: :blank %> to see what I'm working on. Or you can <a href="mailto:hogue.a@gmail.com" class="links">always ask me</a></p>
        </div>

      </div>

    </div>
  </div>
