<div class="containter">
  <div class="title">
    <div class="first-line">
      <h1>Hello, I'm</h1>
      <h1 class="name">Amy Hogue.</h1>
    </div>
    <h1>I'm a Full Stack Developer.</h1>
    <%= image_tag 'amy.jpg', class: "my-photo"%>
    <div class="title-description">
      <p>
         A three-year-old misspelled 'Amy' and gave me the nickname 'Yam.' It stuck. I am a Jill of all trades. I dug on an archaeology site in Peru. I taught English to monks in Nepal. I did clinical research, social work, nutrition counseling, taught ESL in a jail and now I joyfully code the full stack. I'm looking to work with people who value life experience and diversity so I can work with badass coworkers with grit and creativity and we can build cool stuff in weird ways.
      </p>
    </div>
  </div>
  <div class="portfolio">
    <h2>Sample The Goods</h2>
    <div class="row">

      <div class="col-xs-12 col-md-4">
         <%= link_to "https://who-cooks.herokuapp.com/",  target: :_blank do %>
          <%= image_tag 'who-cooks.png', class: "project-photos"%>
        <% end %>
        <p>Opensource project</p>


        <%= link_to "(peep the code)", "https://github.com/ahogue1/who-cooks",  target: :_blank %>
      </div>

      <div class="col-xs-12 col-md-4">
        <%= link_to "https://www.lealo.io/",  target: :_blank do %>
           <%= image_tag 'lealo.png', class: "project-photos"%>
        <% end %>
        <p>Bootcamp Final Project</p>

        <%= link_to "(peep the code)", "https://github.com/mbrien12/lealo",  target: :_blank %>
      </div>

      <div class="col-xs-12 col-md-4">
        <%= link_to "http://www.denver-pools.com/",  target: :_blank do %>
          <%= image_tag 'denver-pools.png', class: "project-photos"%>
        <% end %>

        <p>Built with rails, customized for client</p>

          <%= link_to "(peep the code)", "https://github.com/ahogue1/denver-pool",  target: :_blank %>
      </div>

    </div>
  </div>

  <div class="details">
    <h2>The Magic</h2>

    <div class="row third-row tool-row">
      <div>
        <i class="devicon-bootstrap-plain tool-icon"></i>
        <p>Bootstrap</p>
      </div>

      <div>
        <i class="devicon-ruby-plain tool-icon"></i>
        <p>Ruby</p>
      </div>

      <div>
        <i class="devicon-javascript-plain tool-icon"></i>
        <p>JavaScript</p>
      </div>
    </div>

    <div class="row second-row tool-row">
      <div>
        <i class="devicon-css3-plain tool-icon"></i>
        <p>CSS</p>
      </div>

      <div>
        <i class="devicon-html5-plain tool-icon"></i>
        <p>HTML</p>
      </div>
    </div>

    <div class="row tool-row">
      <i class="devicon-rails-plain tool-icon"></i>
      <p>Ruby on Rails</p>
    </div>
    </div>

  </div>
  <div class="contact", style="background-image: url(<%= image_path("phone.jpg")%> );">

    <div class="contact-box">
      <h2>Drop a Line</h2>
      <div class="info">
        <a href="tel:3033458423" class="links"> Phone: 303-345-8422</a><br>
        <a href="mailto:hogue.a@gmail.com" class="links">Email: hogue.a@gmail.com</a>
      </div>
    </div>
  </div>
</div>
