<div class="containter">
  <div class="title">
    <div class="first-line">
      <h1>Hello, I'm</h1>
      <h1 class="name">Amy Hogue.</h1>
    </div>
    <h1>I'm a Full Stack Developer.</h1>
    <%= image_tag 'amy.jpg', class: "my-photo"%>
    <div class="title-description">
      <p>
         A three-year-old misspelled 'Amy' and gave me the nickname 'Yam.' It stuck. I am a Jill of all trades. I dug on an archaeology site in Peru. I taught English to monks in Nepal. I did clinical research, social work, nutrition counseling, taught ESL in a jail and now I joyfully code the full stack. I'm looking to work with people who value life experience and diversity so I can work with badass coworkers with grit and creativity and we can build cool stuff in weird ways.
      </p>
    </div>
  </div>
  <div class="portfolio">
    <h2>The Goods</h2>
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <%= link_to "https://who-cooks.herokuapp.com/",  target: :_blank do %>
          <div class="project-photos" , style="background-image: url(<%= image_path("who-cooks.png")%> );">
            <p>Rails</p>
          </div>
        <% end %>
      </div>
      <div class="col-xs-12 col-md-4">
        <%= link_to "https://www.lealo.io/",  target: :_blank do %>
          <div class="project-photos" , style="background-image: url(<%= image_path("lealo.png")%> );">
              <p class="content">Rails</p>
          </div>

          <% end %>
      </div>
      <div class="col-xs-12 col-md-4">
        <%= link_to "http://www.denver-pools.com/",  target: :_blank do %>
          <div class="project-photos" , style="background-image: url(<%= image_path("denver-pools.png")%> );">
            <p>Rails</p>
          </div>
        <% end %>
      </div>
    </div>

  </div>

  <div class="details">
    <h2>The Magic</h2>

    <div class="row third-row tool-row">
      <div>
        <i class="devicon-bootstrap-plain tool-icon"></i>
        <p>Bootstrap</p>
      </div>

      <div>
        <i class="devicon-ruby-plain tool-icon"></i>
        <p>Ruby</p>
      </div>

      <div>
        <i class="devicon-javascript-plain tool-icon"></i>
        <p>JavaScript</p>
      </div>
    </div>

    <div class="row second-row tool-row">
      <div>
        <i class="devicon-css3-plain tool-icon"></i>
        <p>CSS</p>
      </div>

      <div>
        <i class="devicon-html5-plain tool-icon"></i>
        <p>HTML</p>
      </div>
    </div>

    <div class="row tool-row">
      <i class="devicon-rails-plain tool-icon"></i>
      <p>Ruby on Rails</p>
    </div>
    </div>

  </div>
  <div class="contact">
    <h2>My Digits</h2>
  </div>
</div>
