<div class="container-fluid">
  <div class="row">
    <div class="banner welcome-post-banner" id = "" style="background-image: url(<%= image_path('https://res.cloudinary.com/ahg1/image/upload/c_crop,h_2000,w_4023/v1539105783/IMG_6340_mffmrc.jpg')%>);">
    </div>
  <div class="banner-comment"><p>(Photo: Panajachel, Guatemala - May 2018)</p></div>
</div>

<div class="container post-container">
  <div class="row">
    <div class="banner-heading">
      <h1>What I've Got</h1>
    </div>

    <p>
      Guatemala was the shiiiiiiit. It was the SHIT, guys.
    </p>
    <p>
      For 6 weeks I was in some random little town (Panajachel) with old ex-pats everywhere on the edge of the most beautiful lake ever (look, don't touch. It's really polluted). I lived in this sick house with an entire freaking secret garden and a little stream running through it. A gardener named Juan took care of all of it and his dog Paloma was a delightful little weirdo. I spent my weekends hiking volcanoes and exploring the very different towns around the lake.
    </p>

    <div class="container-fluid no-padding-container-fluid">
      <div class="row photo-row">
        <%= image_tag 'https://res.cloudinary.com/ahg1/image/upload/w_1332,h_1375/v1539877755/IMG_6332_mmvm75.jpg', class: "standard-photo", 'data-toggle':"tooltip", title:"pana"%>
        <%= image_tag 'https://res.cloudinary.com/ahg1/image/upload/w_1332,h_1375/v1539878763/IMG_6945_icfmqo.jpg', class: "standard-photo"%>
      </div>
      <div class="row photo-row">
        <%= image_tag 'https://res.cloudinary.com/ahg1/image/upload/w_1332,h_1375/v1539105842/IMG_6417_f6kkhv.jpg', class: "standard-photo"%>

        <%= image_tag 'https://res.cloudinary.com/ahg1/image/upload/w_1332,h_1375/v1539877609/IMG_6495_tl6z07.jpg', class: "standard-photo"%>
      </div>
    </div>


    <p><strong>
      Guatemala Highlights:
      </strong>
    </p>
    <ul>
      <li><p>Eating marshmallows roasted on a volcano</p></li>
      <li><p>Mayan traditions: the religion, clothes and languages still thrive</p></li>
      <li><p>Antigua is still a charming little city</p></li>
      <li><p>Blue sky, blue water, blue mountains</p></li>

    </ul>
    <p><strong>
      Guatemala Lows:</strong>
    </p>
    <p>
      <ul>
        <li><p>Food was meh (Nope, Mexican and Guatemalan food aren't the same - I missed the spice)</p></li>
        <li><p>The dogs were cool, but also bummed me out because there were a lot of mangy street dogs</p></li>
        <li><p>Trash. Everywhere.</p></li>
        <li><p>Extreme poverty and everything that comes with that like alcoholism, malnutrition and my own guilt of living in a nice house with clean water</p></li>
      </ul>



    <p>
      It was such an adventure place with scorpions popping up everywhere, always being mildly sick, having to walk 45 minutes to the nearest grocery store, taking boats -the only way to get across the lake - and being 98% positive we would all sink and die every single time. It. Was. Great.
    </p>
    <p>
      It also wore me the fuck out, ya know? Since Guatemala I've been trying to lay low a little and live in cities so I don't have to work so hard at survival. You see friends, traveling gets a little harder each year. My back hurts all the time and any mattress that isn't MY mattress makes that worse. I've got a bum knee, which is fun to say, but not fun to live. I miss LaCroix for some stupid reason. It's harder. You get set in your ways as you age and travel doesn't allow that. (Please calm down people who are older than me, I'm not saying I'm old, I'm just saying I'm not twenty anymore).
    </p>
    <p>
      That's also why I'm doing this, though. It's been cool to evaluate which luxuries I really don't want to live without (pickles, good sunscreen, lime squeezer) and what I was wasting money and space on before I picked up this mobile lifestyle (everything else that I purchased on Amazon. All of it.) It's also a challenge to not be a big ol' waste producer when traveling. I have to carry a reusable shopping bag, coffee mug and water bottle just to reduce some of my trash production (I know that sounds like not very much to those of you with an entire house, but that's like 1/8th of my luggage space). I had the same pair of jeans for a year, one pair of shorts for 6 months, one sweater, one Mexico shirt, one USA shirt, three neutral shirts and gym clothes.
    </p>
    <p>
      My point is: everything I have is calculated, valued and used until it dies and I like that, but I miss frivolousness.
    </p>
    <p>
      I don't know where this train goes after December-ish. I want to go back to the adventures of Guatemala or something like it and see more of the world and build immunities to more illnesses, but I also just want to have a little spot that I can fill with bullshit like fancy soaps and carpets and just call it mine and stay there until I die. It might not sound like it, but both are equally appealing right now and I cannot tell you which direction I will choose.
    </p>
  </div>
</div>

<div class="container-fluid">
  <div class="row photo-row">
    <%= image_tag 'https://res.cloudinary.com/ahg1/image/upload/w_2332,h_1375/v1539878951/IMG_6554_uodhuz.jpg', class: "long-photo"%>
  </div>
</div>

<div class="container">
  <div class="row nav-links">

    <%= link_to post_path(id: '02-mexico') do %>
      <i class="fa fa-arrow-left nav-arrow" aria-hidden="true"></i>
      <h4>Previous Post</h4>
    <% end %>

    <%= link_to blog_path do %>
      <i class="fa fa-home nav-arrow" aria-hidden="true"></i>
      <h4>Home</h4>
    <% end %>

    <%= link_to post_path(id: '04-tinfoil') do %>
      <h4 class="tr">Next Post</h4>
      <i class="fa fa-arrow-right nav-arrow" aria-hidden="true"></i>
    <% end %>

  </div>
</div>
