<div class="container-fluid">
  <div class="row">
    <div class="video-banner welcome-post-banner">
        <video loop muted autoplay playsinline class="fullscreen-bg__video">
            <source src="https://res.cloudinary.com/ahg1/video/upload/v1542294529/IMG_7319_qwdena.mov">
        </video>
    </div>
</div>
  <div class="banner-comment"><p>(Video: Chignahuapan, Puebla 2018)</p></div>
</div>

<div class="container post-container">
  <div class="row">
    <div class="banner-heading">
      <h1>The Dead</h1>
    </div>

    <p>
      Alright I've been kind of losing my tourist steam, but I went all in for Dia de Muertos here in Mexico. Day of the dead, aka Día de Muertos here is not just Mexican Halloween; it's an Aztec tradition of honoring the dead and setting up ofrendas (offerings) for loved ones who are making the journey back from the dead and a time for honoring and remembering the dead.
    </p>
    <p>
      Have you seen Coco? If not: shut up, stop reading this, quit your job and go watch Coco. I'll wait.
    </p>
    <p>Welcome back!</p>
    </p>
    <p>
      So Día de Muertos is usually a family holiday: you build the ofrenda at home with items that were of meaning to the deceased, some food (because they're hungry and you're Mexican and you need to give food to absolutely everyone), some photos, marigolds, candles to light the way, sugar skull candy and kind of whatever else you think fits. It's cool because it's pretty personalized. To whomever has the honor(?) of building my ofrenda; I want Twizzlers, hot wings and/or Chilaquiles, peanut M&M's, some fire memes and maybe an Indio beer.  Here's some of the Ofrendas that were out in Puebla:
    </p>
  </div>
</div>
<div class="container-fluid">
  <div class="row photo-row">
    <%= image_tag 'https://res.cloudinary.com/ahg1/image/upload/v1542244836/IMG_7220_l2vcv1.jpg', class: "large-photo"%>
    <%= image_tag 'https://res.cloudinary.com/ahg1/image/upload/v1542245582/IMG_7231_udpqvj.jpg', class: "large-photo"%>
  </div>
</div>


</div>

<div class="container post-container">
  <div class="row">
    <p>
    And some in Coyoacan in Mexico City:
    </p>

  </div>
</div>
  <div class="container-fluid">
    <div class="row photo-row">

      <%= image_tag 'https://res.cloudinary.com/ahg1/image/upload/a_0/v1542247671/IMG_7461_a5jzvm.jpg', class: "large-photo"%>
      <%= image_tag 'https://res.cloudinary.com/ahg1/image/upload/v1542247746/IMG_7458_n7lhog.jpg', class: "large-photo"%>
      <%= image_tag 'https://res.cloudinary.com/ahg1/image/upload/a_0/v1542246908/IMG_7416_sq85b5.jpg', class: "large-photo"%>
      <%= image_tag 'https://res.cloudinary.com/ahg1/image/upload/a_0/v1542246921/IMG_7448_tesvyb.jpg', class: "large-photo"%>
    </div>
  </div>
<div class="container post-container">
  <div class="row">
    <p>
    Since Dia de Muertos is generally a family thing, I went to a small town (Chignahuapan) that is known for having a big celebration. They have a show on a lake telling the story of death and the afterlife. Truth: I was kind of just standing on a muddy bank trying to figure out what the exact story was and once I let go and just enjoyed the pretty lights and dancing, it was really cool, but I still don't know the entire story.
    </p>
    <p>
      There was also a huge Tapete (rug) made out of sawdust that was amazing.
    </p>
  </div>
  <div class="row">
    <div class="video inbedded-video">
      <%= video_tag 'https://res.cloudinary.com/ahg1/video/upload/v1542245533/IMG_7271_tkd8f8.mov', class: "post-video", loop: true, autoplay: true, muted: true, playsinline: true %>
    </div>

    <p>
      Ok, so 2 days in Chignahuapan and I saw some other random things like the Christmas Ornaments they are famous for and Ajolotes which are cool/gross/cool/dinosaurs:
    </p>
  </div>
</div>
<div class="container-fluid">
  <div class="row photo-row">

    <%= image_tag 'https://res.cloudinary.com/ahg1/image/upload/e_auto_brightness/v1542245545/IMG_7263_fcrpac.jpg', class: "medium-photo"%>
    <%= image_tag 'https://res.cloudinary.com/ahg1/image/upload/a_0/v1542244712/IMG_7354_dukvem.jpg', class: "medium-photo"%>
    <%= image_tag 'https://res.cloudinary.com/ahg1/image/upload/a_0/v1542245030/IMG_7364_obl2zi.jpg', class: "medium-photo"%>

  </div>
</div>
<div class="container post-container">
  <div class="row">
    <p>
      And then I was off to Mexico City which goes all in for Día De Muertos. They have like three weeks of parades starting with an Alebrijes parade (Alebrijes are kind of just an acid trip come to life) which were still out when I arrived so I got to walk around and see those:
    </p>
  </div>
</div>
<div class="container-fluid no-padding-container-fluid">
  <div class="row photo-row">
    <%= image_tag 'https://res.cloudinary.com/ahg1/image/upload/w_1389,h_1852/a_0/v1542247710/IMG_7497_fat87h.jpg', class: "large-photo", 'data-toggle':"tooltip", title:"pana"%>
    <%= image_tag 'https://res.cloudinary.com/ahg1/image/upload/w_1389,h_1852/a_0/v1542247745/IMG_7491_b6r7ti.jpg', class: "large-photo"%>
  </div>
  <div class="row photo-row">
    <%= image_tag 'https://res.cloudinary.com/ahg1/image/upload/w_2389,h_1852/a_0/v1542247703/IMG_7504_qb3dqm', class: "large-photo"%>

    <%= image_tag 'https://res.cloudinary.com/ahg1/image/upload/w_1389,h_1852/a_0/v1542248586/IMG_7501_ujhuoc.jpg', class: "large-photo"%>
  </div>
</div>
<div class="container post-container">
  <div class="row">

    <p>
      They also have a Catrinas parade (the skeleton ladies) and an all encompassing Día de Muertos parade (true story: they have that parade because a James Bond movie showed it and tourists started expecting there to be one so the city obliged. Colorado bought some buffalo to put next to the airport so people would like it more...and then replaced it with <a href="https://en.wikipedia.org/wiki/Blue_Mustang" target="_blank" rel="noopener">this evil blue horse</a> that literally killed its maker. Judge away, but judge fairly.)
    </p>


    <p>
      I saw zero parades, so there's room for growth next time.
    </p>
    <p>
      Instead, I went to Xochilmilco which I've been meaning to see for a long time. Mexico City was originally entirely a system of swampy canals with zero roads. The Spaniards came and paved over the lake, which was a great idea and now Mexico City is literally sinking...fun! So Xochimilco is the only part of the city that's still the original canal system. I went to another show on the water in Xochimilco (I hope I'm done typing that now, it's hard). This one was a take on the legend of La Llorona. La Llorona is a lady who, according to the legend, comes when kids cry too much to...idk take or eat or kill them. In this play la llorona was an Aztec princess who was impregnated by a conquistador and then the Spanish murdered absolutely everyone and the end. She never gets revenge. Just bothers sad kids.
    </p>
    <p>
      I've noticed that Mexicans don't really seem to expect that the good guys will win in some capacity. When I went to Lucha Libre the bad guys won EVERY SINGLE MATCH and then it ended and that's just how it is. The bad guys win. I kind of wonder if they're being conditioned for a corrupt government at a young age. Or maybe it's a weird Americanism that I expect the hero/underdog to have a comeback at some point and things to have at least some kind of happy ending. La Llorana left me expecting a third act where she comes back and slaughters some conquistadors, but I guess we all know that didn't happen. No use in pretending otherwise. She could at least hand out some kidney stones, though.
    </p>
    <p>
      I'd call my first Día de Muertos a success? I like the idea of taking the time for your loved ones to build them an ofrenda with stuff they would like and I also like the idea of it not being an entirely sad thing. It's a better idea than my grandpa's of turning the dead into crackers. Sorry to rank cultures, but I'm not eating my dead relatives. Of course I want you all to think of me and put out a lot of Twizzlers and Sour Patch Kids, but  my love for little kid candy is a small part of my personality, so make sure you try to capture my awkwardness, inappropriate sarcasm and the number of hours I accidentally spent hate-watching The Hills like 10 years after it originally aired.
    </p>
    <p>
      Wise little readers would point out that I said my next post will be about coding and this isn't about coding. Very wise, little reader. Maybe the next post. I started writing it and it turned into a lot. Trying to trim it down. Go watch Coco again.
    </p>
  </div>
</div>

<div class="container-fluid">
  <div class="row photo-row">
    <%= video_tag 'https://res.cloudinary.com/ahg1/video/upload/v1542249385/IMG_7422_ydzym4.mov', class: "large-photo", playsinline: true, loop: true, muted: true, autoplay: true %>
    <%= image_tag 'https://res.cloudinary.com/ahg1/image/upload/v1542249244/IMG_7433_hod8vg.jpg', class: "large-photo", id: "xochi-photo" %>
    <%= video_tag 'https://res.cloudinary.com/ahg1/video/upload/v1542249357/IMG_7425_iq6ra7.mov', class: "large-photo", playsinline: true, loop: true, muted: true, autoplay: true %>

  </div>
  <p class="tc">Photos from La Llorona in Xochilmilco</p>
</div>

<div class="container">
  <div class="row nav-links">

    <%= link_to post_path(id: '04-tinfoil') do %>
      <i class="fa fa-arrow-left nav-arrow" aria-hidden="true"></i>
      <h4>Older Post</h4>
    <% end %>

    <%= link_to blog_path do %>
      <i class="fa fa-home nav-arrow" aria-hidden="true"></i>
      <h4>Home</h4>
    <% end %>


  </div>
</div>
