<div class="container-fluid">
  <div class="row">
    <div class="banner welcome-post-banner" id = "mexico-featured-photo" style="background-image: url(<%= image_path('posts/mexico-y-yo/feature.jpg')%>);">

      <div class="banner-heading">
        <h1>Mexico y Yo</h1>
      </div>
      <div class="banner-comment"><p>(Photo: Mexico City aka CDMX)</p></div>
    </div>
  </div>
</div>

<div class="container post-container">
  <div class="row">

   <p>
     Ever since I was really young I’ve always had Mexican friends and always loved the closeness and warmth of the culture. I can remember when I was about 4 or 5 a friend’s mom taught me the word “agua” in Spanish and I was AMAZED. Since my great Hellen Keller moment, I was kind of obsessed with Spanish. When I started learning Spanish in college, I dreamed of spending a <em>bunch</em> of time in Mexico and going deep into the culture as I learned more about the history and art of the country. I pictured myself wearing long, flowing, colorful skirts; grinding corn on my comal; hand making tortillas for random children and maybe even plowing a field with my buRRRRo (emphasis on rolling the rr to show that I can).
   </p>
    <p>
      When I was 18, I came to Mexico City for the first time. I only spoke enough Spanish to almost kill myself and my travel mates twice (once by ordering two <em>buckets</em> of beer instead of two<em> bottles</em> and the second by accidentally convincing a burly bouncer in a bar that they were both “basuras” or trash). It was my first time outside of the first world and it was pretty shocking and not what I imagined Mexico would be, but still amazing.
    </p>
    <p>
      After that, I spent about 7 years thinking, as most of us do, that Mexico is far too dangerous to visit, even though I still really wanted to go. I was sad, but thought it wasn’t worth the risk. That slowly started changing for me as I realized that parts of Mexico are unsafe just like parts of the US aren’t safe according to the news. Last year, I was talking to a Britt and a Brazilian and they were asking about gun sales in WalMart. It had never occurred to me that it sounds weird to everyone else that you can buy an assault weapon and pancakes in the same location. So yeah, we seem a little extreme to outsiders. I read a little more about the different states of Mexico and saw that, as is usually the case, Mexico isn’t what it seems in the news.
    </p>
  </div>
</div>

<div class="container-fluid">
  <div class="row photo-row">
    <%= image_tag 'posts/welcome/rio4.jpg', class: "medium-photo"%>
    <%= image_tag 'posts/welcome/rio2.jpg', class: "medium-photo"%>
    <%= image_tag 'posts/welcome/rio3.jpg', class: "medium-photo"%>
  </div>
</div>

<div class="container post-container">
  <div class="row">
    <p>
      Have you seen the episode of Arrested Development where George Michael is in Mexico and he goes to Wetzles Pretzels every single day and that’s his entire Mexico experience? That hits close to home for my current Monday to Friday. I live in this very suburban-looking area, go to a fancy people gym and then come to Starbucks to code. I cook at home and make the exact same things I would eat in Colorado. Sometimes I chuckle to myself thinking about what people must imagine my life is like vs. what it is. This place (Puebla City) looks like Miami without the beaches and everyone thinks I’m weird and maybe poor because I walk everywhere instead of driving or being driven.
    </p>
    <p>
      To make up for my bland lifestyle and lack of buRRRos I try to experience the culture on the weekends. This last weekend was all about tacos al pastor. Do you know what tacos al pastor are? Is that common knowledge? I can’t tell anymore. If you don’t know: they actually have Lebanese roots. They are shawarma style meat, but with the twist of Mexican spices and pineapple and they cook on a gyro-looking “trompo.” You can tell how popular a taqueria is by the size of the trompo, stay away from small trompos. The theatrics of the taco are half of the fun because the dude that serves them cuts them with a giant machete-like knife and flips a little piece of the pineapple down at the end. It’s glorious and I enjoy watching taco making just as much as watching construction (which is a lot).
    </p>

    <p>
      This weekend I went to a Taco festival in a random little town here in the state of Puebla. The tacos were free, so there were a lot of people (over 400,000 tacos served). Actually I got some anxiety with the quantity of people, so I wasn’t up for going around to all the stands. I still got some amazing tacos in the town that’s said to be the birthplace of tacos al pastor and the lead singer of the band that was playing pointed me out as the only gringa in the giant sea of people. Also the tacos were really little and I like that. I like it when they make the tacos tiny so you can crush an ungodly number of tacos (like...ten to fifteen) and feel really powerful. I’m not trying to be dramatic, but tacos. are. life. Also Starbucks and Wetzles Pretzles. Viva Mexico.
    </p>

  </div>
</div>
<div class="container-fluid">
  <div class="row photo-row">
    <%= image_tag 'posts/welcome/guat1.jpg', class: "medium-photo"%>
    <%= image_tag 'posts/welcome/guat2.jpg', class: "medium-photo"%>
    <%= image_tag 'posts/welcome/guat3.jpg', class: "medium-photo"%>
    <%= image_tag 'posts/welcome/guat4.jpg', class: "medium-photo"%>
  </div>
</div>
