<div class="container-fluid">
  <div class="row">
    <div class="banner welcome-post-banner" style="background-image: url(<%= image_path('posts/welcome/feature.jpg')%>);">

      <div class="banner-heading">
        <h1>Danger 2.0</h1>
      </div>
      <div class="banner-comment"><p>(Photo: Rio De Janiero, Brazil)</p></div>
    </div>
  </div>
</div>

<div class="container post-container">
  <div class="row">

    <p>Ahhhh...So much to catch you up on.</p>

    <p>
      I used to have a blog called <a href="https://dangervdanger.wordpress.com/" target="_blank" rel="noopener">Danger v. Danger</a> (Danger is an old nickname with not that funny of a story behind it), so this blog Danger 2.0 is (hopefully) a more mature version.
    </p>
    <p>
      You probably know some of my story, but I promise you don't know all of it. I'll give you a quick recap of the past year and maybe fill in the details later.
    </p>
    <p>
      About a year ago I left my job in Social Work to go Rio De Janeiro, Brazil and (start to learn) to code (Ruby, but you don't care).  I thought after Rio I'd end up in Peru. I don't particularly love Peru, but I thought I'd move there for a certain doctor I met in the States. Shit didn't work out with Doctor (does it ever?) and I went home, but by that time I had my mind set on traveling because Denver is going through it's rebellious teenage years right now and I don't have room for that.
    </p>

    <p>Here's a summary of Brazil in 3 pictures: </p>
  </div>
</div>

<div class="container-flui">
  <div class="row photo-row">
    <%= image_tag 'posts/welcome/rio4.jpg', class: "medium-photo"%>
    <%= image_tag 'posts/welcome/rio2.jpg', class: "medium-photo"%>
    <%= image_tag 'posts/welcome/rio3.jpg', class: "medium-photo"%>
  </div>
</div>

<div class="container post-container">
  <div class="row">
    <p>
      So now I'm in Mexico! ¡Olè!
    </p>
    <p>
      I went to Chiapas, Mexico for 6 weeks, Guatemala for 7 weeks and then to Mexico City for 3 months. I have been coding 5 days a week, doing yoga (basic, I know) and being a tourist on the weekends. I would guess that I lost 5 pounds, gained 7 pounds, lost 4 and might be right around there, in case you care (you probably don't, but I would be curious). Currently, I'm in Puebla Mexico and that's where this story kicks off. Oh, that and a need to avoid social media because:
    </p>
    <ol>

      <li> <p>Trump: I don't care anymore. Nothing is changing and no one is changing their minds. Call me when he's impeached.</p></li>
      <br>
      <li><p>FOMO or whatever it is where everyone looks happier than me.</p></li>
      <br>
      <li><p>POOR BOUNDARIES</p></li>
    </ol>

    <p>
      I won't be too vague here with number 3: one mother fucker showed up in tiny little Panajachel, Guatemala randomly and unannounced thinking it was romantic to track me down (thanks to social media) but it was actually SCARY AS HELL and another who refuses to take "no" and "fuck off" for an answer...and has for years. So...yep, you have to be on the short list to read this blog. Which means that you're important to me and I trust you not to chop me into cubes and store me in a shoebox <img draggable="false" class="emoji" alt="🙂" src="https://s0.wp.com/wp-content/mu-plugins/wpcom-smileys/twemoji/2/svg/1f642.svg" scale="0"> <img draggable="false" class="emoji" alt="🙂" src="https://s0.wp.com/wp-content/mu-plugins/wpcom-smileys/twemoji/2/svg/1f642.svg" scale="0"> <img draggable="false" class="emoji" alt="🙂" src="https://s0.wp.com/wp-content/mu-plugins/wpcom-smileys/twemoji/2/svg/1f642.svg" scale="0">
    </p>

    <p>
      I'm hoping this is a bit interactive. I want to know about you and yours as much as share about me and...me. I'm going to push myself to be honest which I don't do that much. I'm kind of a liar sometimes. Or at least, SUPER private but since I'm far away from home I have a need to connect...with people who won't scalp me and make me into a fresh hair doll <img draggable="false" class="emoji" alt="🙂" src="https://s0.wp.com/wp-content/mu-plugins/wpcom-smileys/twemoji/2/svg/1f642.svg" scale="0"> <img draggable="false" class="emoji" alt="🙂" src="https://s0.wp.com/wp-content/mu-plugins/wpcom-smileys/twemoji/2/svg/1f642.svg" scale="0"> <img draggable="false" class="emoji" alt="🙂" src="https://s0.wp.com/wp-content/mu-plugins/wpcom-smileys/twemoji/2/svg/1f642.svg" scale="0">
    </p>

    <p><strong>***Side note: I'm joking about the murder stuff, obviously , but "no means no" is really important and not having that respected was actually scary and so...please believe females when they say "no" or express that something feels unsafe. I've found that the more confident I am, the more men seem to want a piece of my power and occasionally, they succeed.</strong></p>

    <p>
      Here's a summary my time in Guatemala in 4 photos:
    </p>

  </div>
</div>
<div class="container-fluid">
  <div class="row photo-row">
    <%= image_tag 'posts/welcome/guat1.jpg', class: "medium-photo"%>
    <%= image_tag 'posts/welcome/guat2.jpg', class: "medium-photo"%>
    <%= image_tag 'posts/welcome/guat3.jpg', class: "medium-photo"%>
    <%= image_tag 'posts/welcome/guat4.jpg', class: "medium-photo"%>
  </div>
</div>
